.articulo1{
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
}
.articulo1 img{
    width: 180px;
    height: 100px;
}
.articulo1 p{
    font-size: 10px;
    color: gray;
}
.articulo1 h6{
    color: gray;
}
.articulo2{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.articulo2 img{
    width: 180px;
    height: 140px;
}
.articulo2 p{
    font-size: 10px;
    color: gray;
}
.articulo2 h6{
    color: gray;
}
.articulo2 input{
    font-size: 10px;
    text-decoration-style: solid;
    padding: 6px;
    font-weight: bold;
    color: #000;
    border-radius: 0px;
    border: 2px solid #000000;
    background-color: white;
}